<div ng-cloak class="container baixar">
  <div ng-controller="userCtrl as us">
    <div class="row" ng-init="us.getAlunos()">
      <div class="col-md-offset-3 col-md-6">
        <form class="" method="post">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Alunos</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <div class="col-md-12" ng-repeat="user in us.alunos">
                  <a style="color:black">
                    <li class="list-group-item">
                      <b>{{user.nome}}</b> - {{user.curso}} | {{user.email}}
                      <button class="btn btn-default btn-xs pull-right" ng-click="us.excluirUsuario(user._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </li>
                  </a>
                </div>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Professores -->
  <div ng-controller="profCtrl as prof">
    <div class="row" ng-init="prof.getProfessores()">
      <div class="col-md-offset-3 col-md-6">
        <form class="" method="post">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Professores</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <div class="col-md-12" ng-repeat="professores in prof.professores">
                  <a style="color:black">
                    <li class="list-group-item">
                      <b>{{professores.nome}}</b> - {{professores.curso}} | {{professores.email}}
                      <button class="btn btn-default btn-xs pull-right" ng-click="prof.excluirProfessor(professores._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </li>
                  </a>
                </div>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Técnicos Administrativos -->
  <div ng-controller="tecnicoCtrl as tec">
    <div class="row" ng-init="tec.getTecnicos()">
      <div class="col-md-offset-3 col-md-6">
        <form class="" method="post">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Técnicos Administrativos</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <div class="col-md-12" ng-repeat="tecnicos in tec.tecnicos">
                  <a style="color:black">
                    <li class="list-group-item">
                      <b>{{tecnicos.nome}}</b> | {{tecnicos.email}}
                      <button class="btn btn-default btn-xs pull-right" ng-click="tec.excluirTecnico(tecnicos._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </li>
                  </a>
                </div>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
